


{% extends 'gdPublic/partial/GdPublicHeaderFooter.html.twig' %}

{% block metatitle %}
    blog : les articles d'une catégorie
{% endblock %}

{% block content %}

<body>
    <main>
        <h1> Liste des Articles de la catégorie : {{ title }}</h1>
        <div class="document">
            {% for article in category.articles %}
            {% if article.isPublished %}
                    <div class="articles">
                        <article class="article">
                            <h2 class="titre">  {{ article.title }}</h2>
                            <p> {{ article.description }}</p>
                            <div class="image">
                                <img src="{{ asset(article.image) }}" alt="{{ article.title }}">
                            </div>
                            <h2 class="titre"> <a class="pale" href ="{{ path( 'GdPublicArticle-one',{id: article.id})}}">Voir cet article</a></h2>

                        </article>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </main>
</body>

{% endblock %}


