


{% extends 'admin/partial/AdminHeaderFooter.html.twig' %}

{% block metatitle %}
    admin : les articles
{% endblock %}

{% block content %}


        <h1> Liste des Articles </h1>
        <section class="admin-list-articles">
            <table class="admin-article-table">
                <tr>
                    <td> Catégorie <a href ="{{ path( 'adminArticles')}}?tri=category&ordre=ASC">
                            <i class="fa-solid fa-chevron-up"></i></a>
                        <a href ="{{ path( 'adminArticles')}}?tri=category&ordre=DESC">
                            <i class="fa-solid fa-chevron-down"></i></a>
                    </td>
                    <td> Id  <a href ="{{ path( 'adminArticles')}}?tri=id&ordre=ASC">
                            <i class="fa-solid fa-chevron-up"></i></a>
                        <a href ="{{ path( 'adminArticles')}}?tri=id&ordre=DESC">
                            <i class="fa-solid fa-chevron-down"></i></a>
                    </td>
                    <td>Image</td>
                    <td> Titre <a href ="{{ path( 'adminArticles')}}?tri=title&ordre=ASC">
                            <i class="fa-solid fa-chevron-up"></i></a>
                                <a href ="{{ path( 'adminArticles')}}?tri=title&ordre=DESC">
                            <i class="fa-solid fa-chevron-down"></i></a>
                    </td>
                    <td> Date  <a href ="{{ path( 'adminArticles')}}?tri=createdAt&ordre=ASC">
                            <i class="fa-solid fa-chevron-up"></i></a>
                        <a href ="{{ path( 'adminArticles')}}?tri=createdAt&ordre=DESC">
                            <i class="fa-solid fa-chevron-down"></i></a>
                    </td>
                    <td>Est publié</td>
                    <td>actions</td>
                </tr>

                {% for article in articles %}
                <tr>
                    <td>{{ article.category ? article.category.title : "sans catégorie"}}</td>
                    <td>{{ article.id }}</td>
                    <td><div class="arttd"><img class="admin-article-image" src="{{ article.image }}" alt="{{ article.title }}" /></div></td>
                    <td>{{ article.title }}</td>
                    <td>{{ article.createdAt | date('d-m-Y') }}</td>
                    <td>
                        {% if article.isPublished %}
                            <p>Oui</p>
                        {% else %}
                            <p>Non</p>
                        {% endif %}
                    </td>
                    <td><a class="pale" href ="{{ path( 'admin_delete',{id: article.id})}}">supprimer</a>
                    <a class="pale" href ="{{ path( 'admin_update_article',{id: article.id})}}">modifier</a></td>
                </tr>
                {% endfor %}
            </table>
        </section>



{% endblock %}


